.swiperWrap {
  width: 100%;
  height: 0;
  padding-bottom: 27%;
}
.swiperSlide {
  height: 0 !important;
  transition: 300ms;
  transform: scale(0.6);
  padding-bottom: 27%;
  img {
    width: 100%;
  }
}
:global {
  .swiper-slide-active,
  .swiper-slide-duplicate-active {
    transform: scale(1);
  }
  .swiper-slide-active {
    z-index: 999 !important;
  }
}
