@import  '../../asset/base/index.less';
.songList_wrap{
    display: flex;
    flex-wrap: wrap;
    .songList_item{
        margin: 0 17px 20px;
        width: 180px;
        cursor: pointer;
        img{
            width: 100%;
        }
        .name{
            margin-top: -27px;
            line-height: 20px;
        }
        .shade{
            position: relative;
            bottom: 30px;
            height: 27px;
            line-height: 27px;
            font-size: @font-size-small;
            color: #ccc;
            background-color: @color-background-d;
            opacity: .8;
            padding-left: 10px;
        }
    }
}