@import '../../asset/base/index.less';
.singerlist {
  margin: 0 !important;
  margin-top: 20px !important;
  padding: 0 20px;
  p {
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    .ellipse();
  }
}
