@import '../../asset/base/index.less';
.songlist_item {
  .table_item {
    :global {
      .ant-table-thead .ant-table-cell {
        background-color: @color-dialog-background;
      }
      .ant-table-tbody .ant-table-cell {
        background-color: @color-background;
        color: @color-text-l;
      }
      .ant-table-row:hover {
        background-color: @color-dialog-background;
      }
      .ant-table-tbody > tr.ant-table-row:hover > td {
        background-color: @color-dialog-background;
      }
    }
  }
}
