@import '../../asset/base/index.less';
.mimi_play {
  // padding-left: 160px;
  // padding-right: 230px;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  .play {
    animation: rotate 20s linear infinite;
  }
  .pause {
    animation-play-state: paused;
  }
  .des {
    font-size: 12px;
    .des_title {
      width: 400px;
      margin-left: 10px;
      .music_name {
        color: @text-color;
      }
      .music_singer {
        margin-left: 5px;
        color: @text-color;
      }
    }
    .des_slider {
      display: flex;
      flex-wrap: nowrap;
      margin-left: 5px;
      align-items: center;
      span {
        color: @text-color;
        margin: 0 5px;
      }
      :global {
        .ant-slider {
          flex: 1;
        }
      }
    }
  }
  .action {
    flex: 1;
    display: flex;
    align-items: center;
    color: @text-color-theme;
    justify-content: flex-end;
    span {
      margin: 0 5px;
      font-size: 20px;
      font-size: 22px;
      cursor: pointer;
      &.disabled {
        color: @text-color-theme;
      }
    }
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
