@import '../../asset/base/index.less';
.musicModal {
  .ant-modal {
    .ant-modal-content {
      background-color: @color-highlight-background;
      height: 600px;
      min-height: 600px;
      max-height: 600px;
      .ant-modal-body {
        padding: 10px;
      }
    }
  }
}
