// 颜色定义规范
@background: #141414;
@background-high: #16161a;
// 文字颜色
@text-color-theme: #ea8011;
@text-color: rgba(255, 255, 255, 0.8);
@text-color-light: rgba(255, 255, 255, 1);

.ellipse {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
