@import '../asset/base/index.less';
.layout_wrap {
  padding-top: 64px;
  .commonHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    z-index: 999;
    padding: 0 20px;
    .logo {
      line-height: 64px;
      color: @color-theme;
      text-align: center;
      font-size: @font-size-large-xx;
      font-weight: 600;
    }
    .headeRight {
      display: flex;
      align-items: center;
      img {
        width: 40px;
        height: 40px;
        margin: 0 10px 0 30px;
        border-radius: 50%;
      }
      .userName {
        color: @color-theme;
      }
    }
  }
  .sider {
    position: fixed;
    left: 0;
    top: 64px;
    bottom: 0;
    width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
    :global {
      .ant-menu-dark .ant-menu-item-selected > a,
      .ant-menu-dark .ant-menu-item-active > a {
        color: @color-theme;
      }
      .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
        .ant-menu-item-selected {
        background-color: @color-highlight-background;
      }
    }
  }
  .content {
    padding-left: 200px;
    padding-bottom: 44px;
    background-color: @color-background;
    .container {
      width: 1000px;
      min-width: 1000px;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
  .footer {
    background-color: @color-background;
    position: fixed;
    padding: 0 20px;
    height: 44px;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
