@import '../asset/base/index.less';
.layout_wrap {
  width: 1100px;
  margin: 0 auto;
  .sider {
    position: fixed;
    top: 0;
    width: 150px !important;
    max-width: 150px !important;
    min-width: 150px !important;
    bottom: 0;
    z-index: 1;
    .logo {
      text-align: left;
      padding-left: 6px;
      cursor: pointer;
    }
    :global {
      .ant-menu-dark .ant-menu-item-selected > a,
      .ant-menu-dark .ant-menu-item-active > a {
        color: @color-theme;
      }
      .ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal)
        .ant-menu-item-selected {
        background-color: @color-highlight-background;
      }
    }
  }
  .content {
    margin-left: 150px;
    background-color: @color-background;
    .content_header {
      padding: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .header_input {
        width: 300px;
      }
      .login {
        padding: 0 20px;
        color: @color-text-d;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          color: @color-theme;
        }
        img {
          width: 40px;
          margin-right: 5px;
          border-radius: 50%;
        }
        .drop_a {
          color: @color-theme;
        }
      }
    }
  }
}
.logo {
  margin: 16px;
  height: 32px;
  background: @color-background;
  color: @color-theme;
  text-align: center;
  font-size: @font-size-large;
  font-weight: 600;
  line-height: 32px;
}
:global {
  .ant-dropdown {
    top: 45px !important;
  }
  .ant-dropdown-menu {
    background-color: @color-background;
    .ant-dropdown-menu-item {
      &:hover {
        a,
        span {
          color: @color-text-b;
        }
      }
      a,
      span {
        color: @color-text;
      }
    }
  }
  .ant-dropdown-arrow {
    border-left-color: @color-theme !important;
    border-top-color: @color-theme !important;
  }
}
